<div class="container mx-auto px-4 py-6">
  <app-location-input
    [startLocation]="startLocationInput"
    [endLocation]="endLocationInput"
    [travelDate]="travelDate"
    [returnDate]="returnDate"
    [tripType]="tripType"
    (startLocationChange)="onStartLocationChange($event)"
    (endLocationChange)="onEndLocationChange($event)"
    (travelDateChange)="onTravelDateChange($event)"
    (returnDateChange)="onReturnDateChange($event)"
    (tripTypeChange)="onTripTypeChange($event)"
    (searchLocations)="calculateRoute()"
  ></app-location-input>

  <div class="relative mt-6">
    <app-map [startLatLng]="startLatLng"
             [endLatLng]="endLatLng"
             [transportMode]="transportMode"
             [startLocationName]="startLocationInput"
             [endLocationName]="endLocationInput"
             (routeCalculated)="onRouteCalculated($event)"
             (transportPointsFound)="onTransportPointsFound($event)"
             class="w-full">
    </app-map>

    @if (progressSpinner) {
      <div class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 z-10">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    }
  </div>

  <!-- Integration der Compare-Komponente -->
  <div class="mt-8" *ngIf="transportMetrics.length > 0">
    <app-compare [transportMetrics]="transportMetrics" (transportModeSelected)="onTransportModeSelected($event)"></app-compare>
  </div>

  <!-- Integration der Flights-Komponente -->
  <div class="mt-8" *ngIf="transportMetrics.length > 0">
    <app-flights
      [origin]="startLocationInput"
      [destination]="endLocationInput"
      [departDate]="travelDate"
      [returnDate]="returnDate"
      [isRoundtrip]="tripType === 'roundtrip'"
      [selectedMode]="selectedTransportModeForFlights"
      [searchMode]="selectedTransportModeForFlights"
      [originAirport]="airportOrigin"
      [destinationAirport]="airportDestination"
      [originStation]="stationOrigin"
      [destinationStation]="stationDestination"
      (flightDataLoaded)="updateFlightAndTrainMetrics($event)">
    </app-flights>
  </div>
</div>
