<div class="container mx-auto px-4 py-6">
  <app-location-input
    [startLocation]="startLocationInput"
    [endLocation]="endLocationInput"
    [travelDate]="travelDate"
    (startLocationChange)="onStartLocationChange($event)"
    (endLocationChange)="onEndLocationChange($event)"
    (travelDateChange)="onTravelDateChange($event)"
    (searchLocations)="calculateRoute()"
  ></app-location-input>

  <div class="relative mt-6">
    <app-map [startLatLng]="startLatLng"
             [endLatLng]="endLatLng"
             [transportMode]="transportMode"
             [startLocationName]="startLocationInput"
             [endLocationName]="endLocationInput"
             (routeCalculated)="onRouteCalculated($event)"
             class="w-full">
    </app-map>

    @if (progressSpinner) {
      <div class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-70 z-10">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    }
  </div>

  <!-- Integration der Compare-Komponente -->
  <div class="mt-8" *ngIf="transportMetrics.length > 0">
    <app-compare [transportMetrics]="transportMetrics"></app-compare>
  </div>
</div>
