<mat-sidenav-container autosize>
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="over" class="app-sidenav" [fixedInViewport]="true">
    <div class="top-bar">
      <div class="website-name">
        <h1>EazyTravel</h1>
      </div>
      <div class="close-button" (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </div>
    </div>

    <mat-nav-list>

      <!-- Home Icon -->
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
  <span class="entry">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </span>
      </a>

      <!-- Über uns Icon -->
      <a mat-list-item routerLink="/team" >
          <span class="entry">
            <mat-icon>info</mat-icon>
            <span>Über uns</span>
          </span>
      </a>

      <!-- Impressum Icon -->
      <a mat-list-item routerLink="/impressum" >
          <span class="entry">
            <mat-icon>description</mat-icon>
            <span>Impressum</span>
          </span>
      </a>

      <!-- Login/Logout Icon -->
      <a mat-list-item (click)="isAuthenticated ? logout() : login()">
        <span class="entry">
          <mat-icon>{{ isAuthenticated ? 'logout' : 'login' }}</mat-icon>
          <span>{{ isAuthenticated ? 'Logout' : 'Login' }}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <mat-toolbar>

      <!-- Icon: zeigt menu oder close -->
      <button mat-icon-button [disableRipple]="true" class="burger-menu" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" class="app-title">EazyTravel</a>


    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



