<div class="py-24 sm:py-32 text-center">
  <div class="mx-auto max-w-6xl px-6 lg:px-8">

    <!-- Intro-Text -->
    <div class="max-w-2xl mx-auto mb-16">
      <h2 class="text-4xl sm:text-5xl font-bold tracking-tight text-gray-900">Unser Team</h2>
      <p class="mt-6 text-xl text-gray-600">
        Wir sind ein Team von Experten, die Zukunft nicht nur besprechen, sondern bauen. Mit klarem Fachwissen, pragmatischen Lösungen und der Überzeugung, dass echte Nachhaltigkeit wirtschaftlich stark sein muss – sonst bleibt sie bloße Absichtserklärung.
      </p>
    </div>

    <!-- Teamliste -->
    <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-12 justify-center">
      <li>
        <div class="flex flex-col items-center text-center">
          <img class="w-40 h-40  rounded-full mb-4" src="https://avatars.githubusercontent.com/u/146357622?v=4" alt="Veselin Kolev">
          <h3 class="text-lg font-semibold text-gray-900">Veselin Kolev</h3>
          <p class="text-sm text-indigo-600 font-medium">IT-Professional / Co-Founder</p>
        </div>
      </li>
      <li>
        <div class="flex flex-col items-center text-center">
          <img class="w-40 h-40 rounded-full mb-4" src="https://avatars.githubusercontent.com/u/77968197?v=4" alt="Armann Grewal">
          <h3 class="text-lg font-semibold text-gray-900">Armann Grewal</h3>
          <p class="text-sm text-indigo-600 font-medium">IT-Professional / Co-Founder</p>
        </div>
      </li>
      <li>
        <div class="flex flex-col items-center text-center">
          <img class="w-40 h-40 r rounded-full mb-4" src="https://avatars.githubusercontent.com/u/83819501?s=400&u=f336534d222722a70825608cf8ec702ce79e6a67&v=4" alt="Alexander Eisner">
          <h3 class="text-lg font-semibold text-gray-900">Alexander Eisner</h3>
          <p class="text-sm text-indigo-600 font-medium">IT-Professional / Co-Founder</p>
        </div>
      </li>
      <li>
        <div class="flex flex-col items-center text-center">
          <img class="w-40 h-40 rounded-full mb-4" src="https://avatars.githubusercontent.com/u/76706915?v=4" alt="Mauritz Langer">‚
          <h3 class="text-lg font-semibold text-gray-900">Mauritz Langer</h3>
          <p class="text-sm text-indigo-600 font-medium">IT-Professional / Co-Founder</p>
        </div>
      </li>
    </ul>

  </div>
</div>
